* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 52px;
    color: rgb(48, 114, 238);

}

body {
    background-color:beige;
    padding: 4mm;
}

li {
    padding: 1mm;
}

img {
    width:100%;
    height: auto;
    object-fit: fill;
}